<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Trendine.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A31DE6051E028DA4008C8BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A31DE61C1E028DAC008C8BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A31DE6271E028DAF008C8BB0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
